body {
  height: 100%;
  width: 100%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*content*/

.content .container {
    width: 100%;
}

.contentLayer {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  pointer-events: none;
  transition: 300ms;
}

.lock-scroll {
  overflow: hidden;
}

.content-is-hidden {
  opacity: 0;
}

.content-is-visible {
  opacity: 1;
  transition: opacity, 600ms;
}

/*side bar*/

.left-side-bar {
  margin-top: 20px;
}

.left-side-bar a {
  text-decoration: none;
} 

/*login*/

.login-form {
  width: 20%;
  margin: 50px auto;
}

.login-form input {
  width: 250px;
  border: 1px solid blue;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
}

.login-form button {
  width: 100px;
  margin: 0 80px;
}

/*header-toolbar*/

.header-title {
  font-weight: bold;
  font-size: 15px;
}

.navbar-default {
  margin-bottom: 0;
}

.navItem {
  color: #777777;
  font-size: 13px;
  font-family: Arial;
  padding: 0;
}

.navItem:hover {
  text-decoration: none;
  color: #333333;
}

.dropdown-menu {
  min-width: 10px;
}

.dropdown-menu li a {
  padding: 6.3px;
}

.dropdown-item {
  width: 20px;
  color: #777777;
  font-family: Arial;
}

.dropdown-item:hover {
  text-decoration: none;
  color: #333333;
}

.fa-bars {
  cursor: pointer;
  padding-top: 11px;
}

.shotNav {
  margin-top: 9px;
}

/*searchPlugin*/

.search-form {
  position: relative;
}

.search-form input{
  margin-top: 11px;
  height: 27px;
}

.search-form .fa-search {
  position: absolute;
  bottom: 7px;
  right: 10px;
  color: grey;
}

/* Carousel-bar */

.carousel-bar {
  width: 100%;
  height: 200px;
  margin: 20px auto;
}

/*Menu-bar*/

.mdc-permanent-drawer {
  height: auto !important;
  width: 270px !important;
  position: fixed;
  margin-left: -270px;
  transition: margin-left, 300ms;
  min-height: 100%;
  z-index: 1000;
}

.menuOn {
  margin-left: 0;
}

.list-group-item {
  margin-bottom: -2px;
}

.list-group-item a {
  color: #777777;
}

.list-group-item:hover {
  background-color: lightcyan;
}

/*LogIn*/

.login-form input {
  border: 1px solid #777777;
}

.login-form input:focus {
  border: 1px solid #777777;
}

/*Products*/

.product-card {
  margin-top: 20px;
  margin-bottom: 0px;
}

.product {
  position: relative;
  min-height: 290px;
  min-width: 200px;
  max-width: 250px;
  text-align: center;
  margin-bottom: 0px;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product .submit-btn {
  margin: 50px auto 0;
}

.product .price {
    margin: 20px auto -40px;
}

.product .dosage-selection {
    position: absolute;
    bottom: 11px;
    left: 50px;
}

.product .quantity-selection {
  position: absolute;
  bottom: 11px;
  right: 50px;
}

.product .arrow {
    margin: 1px 0 3px;
    cursor: pointer;
}

.product .arrow:active {
  opacity: 0.5;
} 

