body {
  height: 100%;
  width: 100%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*content*/

.content {
  position: relative;
  padding: 20px 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
}

.content .container {
    width: 100%;
}

.contentLayer {
  min-width: 100vw;
  min-height: 100vh;
  opacity: 0.5;
  pointer-events: none;
  transition: 700ms;
}

.lock-scroll {
  overflow: hidden;
}

/*side bars*/

.left-side-panel {
  margin-top: 20px;
}

/*login*/

.login-form {
  width: 20%;
  margin: 50px auto;
}

.login-form input {
  width: 250px;
  border: 1px solid blue;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
}

.login-form button {
  width: 100px;
  margin: 0 80px;
}

/*header-toolbar*/

.header-title {
  font-weight: bold;
  font-size: 15px;
}

.navbar-default {
  margin-bottom: 0;
}

.navItem {
  color: #777777;
  font-size: 13px;
  font-family: Arial;
  padding: 0;
}

.navItem:hover {
  text-decoration: none;
  color: #333333;
}

.dropdown-menu {
  min-width: 10px;
}

.dropdown-menu li a {
  padding: 6.3px;
}

.dropdown-item {
  width: 20px;
  color: #777777;
  font-family: Arial;
}

.dropdown-item:hover {
  text-decoration: none;
  color: #333333;
}

.fa-bars {
  cursor: pointer;
  padding-top: 11px;
}

.shotNav {
  margin-top: 9px;
}

/*searchPlugin*/

.search-form {
  position: relative;
}

.search-form input{
  margin-top: 11px;
  height: 27px;
}

.search-form .fa-search {
  position: absolute;
  bottom: 7px;
  right: 10px;
  color: grey;
}

/* Carousel-bar */

.carousel-bar {
  width: 100%;
  height: 200px;
  margin: 0 auto;
}

/*Menu-bar*/

.mdc-permanent-drawer {
  height: auto !important;
  width: 270px !important;
  position: fixed;
  margin-left: -270px;
  transition: margin-left, 300ms;
  min-height: 100%;
  z-index: 1000;
}

.menuOn {
  margin-left: 0;
}

.list-group-item a {
  color: #777777;
}

.list-group-item:hover {
  background-color: lightcyan;
}

/*LogIn*/

.login-form input {
  border: 1px solid #777777;
}

.login-form input:focus {
  border: 1px solid #777777;
}

/*Products*/

.product {
  position: relative;
  min-height: 290px;
  min-width: 200px;
  max-width: 250px;
  text-align: center;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product .btn {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.product .price {
    position: absolute;
    bottom: 5px;
    left: 70px;
}

.product .mg-selection div {
    display: inline-block;
    margin: 0 12px;
}

.product .mg-selection .indicator {
    width: 30px;
    margin-right: 0;
}

.product .mg-selection .mg {
    margin-left: 0;
}

.product .quantity-selection div {
    display: inline-block;
    margin: 0 11px;
}

.product .quantity-selection .indicator {
    width: 30px;
    margin-right: 0;
}

.product .quantity-selection .pills {
    margin-left: 0;
}

.products-are-hidden {
  opacity: 0;
}

.products-are-visible {
  opacity: 1;
  transition: opacity, 600ms;
}
